*{
	box-sizing: border-box;
}
body,html{
	padding: 0;
	margin:1px;
	height: 100%;
}
.nav{
	background:url("89404-OKS7TF-472.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	font-family:'Anton',sans-serif;
	padding: 20px;
	font-size: 30px;
	font-weight: 300;
	width: 100%;
}
.main-header{
	width: 100%;
	padding: 5px 15px;
	background-color: #2ECC40;
}

.main-nav__item{
	display: inline-block;
	/*padding: 20px;*/
}
.main_div {
	display: inline-block;
	vertical-align: middle;
}
.main-header nav{
	display: inline-block;
	text-align: right;
	padding: 0px;
	margin: 0;
	width: calc(100% - 60px);
	vertical-align: middle;

}
.main_div a{
	text-decoration: none;
	color: #0e4f1f;
	font-size: 20px;
	font-weight: 800;
}
.main-nav__item a{
	text-decoration: none;
	color: #eb4641;
	font-size: 18px;
	margin-left: 8px;
	margin-right: 8px;
	border-bottom: 2px solid black;
	font-weight: bold;
}
.main-nav__item--cta a{
	background-color: #eb4641;
	padding: 8px 16px;
	color: white;
	border-radius: 25px;
	text-decoration: none;
	border: none;
}
.main-nav__item--cta a:hover{
	background-color: white;
	color:red;
}
.plan{
	background: #d5ffdc;
	text-align: center;
	width: 30%;
	margin:30px 20px;
	padding: 15px;
	display: inline-block;
	float: left;
	vertical-align: middle;
}
.head h2{
	text-align: center;
	color: #eb4641;
	font-family:'Anton',sans-serif;
	text-transform: uppercase;
}
.recommended{
	background:#2ECC40;
	color: white;
	box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.5);
}
.recommended-text{
	padding: 16px;
	background-color:white;
	color:#2ECC40;
	/*display: inline-block;*/
	/*border-radius: 25px;*/
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.plan ul{
	list-style: none;
	line-height: 1.5;
}
.plan__price{
	color: #2ECC40;
}
.text_area{
	color:#001f3f;
}
button{
	box-sizing: border-box;
	background-color: #eb4641;
	border: none;
	color: white;
	font:inherit;
	text-transform: uppercase;
	padding: 10px 16px;
	border-radius: 8px;
	outline: none;
}
button:hover{
	cursor:pointer;
	border: 1px solid #eb4641;
	background-color: white;
	color: #eb4641;
}
